.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
}
::selection {
  color: #b05fbe;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}
.text {
  color: #b05fbe;
  font-size: 48px;
  font-weight: 700;
}
.underline {
  background: #b05fbe;
  width: 150px;
  height: 6px;
  border-radius: 9px;
}
.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 80px;
  background: #eaeaea;
  border-radius: 6px;
}
.input input {
  height: 50px;
  width: 300px;
  background: transparent;
  border: none;
  outline: none;
  color: #121212;
  font-size: 19px;
  margin-left: 75px;
}
.forgot_password {
  padding-left: 62px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot_password span {
  color: #52ca5e;
  cursor: pointer;
}

.submit_container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background-color: #b05fbe;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700px;
  cursor: pointer;
}
.gray {
  background: #eaeaea;
  color: #676767;
}
.passww {
  color: black;
}
.imgpoint {
  display: flex;
  justify-content: end;
  margin-left: -50px;
}
.lana {
  text-decoration: none;
}
